/* Styles globaux */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
}

/* Structure du main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* Prendre en compte la hauteur du header */
  padding-top: 50px;
}

/* Formulaire */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

/* Label du formulaire */
form label {
  font-size: 1.2rem;
  color: #fff;
}

/* Inputs du formulaire */
form input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

/* Focus sur les inputs */
form input:focus {
  outline: none;
  border-color: #007bff;
}

/* Bouton de soumission */
button[type="submit"] {
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #2b62c7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Header de la première section */
header:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Hauteur réduite du header */
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  margin-top: 100px;
}
